<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Country Tracker</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container my-2">
        <h1>Country List</h1>

        <!-- The @ symbol references the content path of your application -->
        <a th:href="@{/showNewCountryForm}" class="btn btn-primary mb-3">Add Country</a>

        <table class="table table-striped table-responsive-md">
            <thead class="thead-dark">
                <th>Country Name</th>
                <th>Description</th>
                <th>Who you travelled with</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr th:each="country : ${listCountries}">
                    <td th:text="${country.countryName}"></td>
                    <td th:text="${country.description}"></td>
                    <td th:text="${country.withWho}"></td>
                    <td><a th:href="@{/showFormForUpdate/{id}(id=${country.id})}" class="btn btn-primary mb-3">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>